NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_ARC_KIT_KEY=
NEXT_PUBLIC_ARC_RPC_URL=https://rpc.arc.io
NEXT_PUBLIC_ARC_EXPLORER_URL=https://scan.arc.io
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://rpc.sepolia.org

NEXT_PUBLIC_ARC_TOKEN_ADDRESS=0x6a801562296A1Dbc9244ca3764981D21A22974d6
NEXT_PUBLIC_USDC_ARC_ADDRESS=0xD8fBdB46F9230B952Ad820697ac940373208ea3e
NEXT_PUBLIC_EURC_ARC_ADDRESS=0x588c08138f0d079E2B8457ea0Bf30861890875fb
NEXT_PUBLIC_WETH_ARC_ADDRESS=0x7E24AF6B090871ebbD60f57BA0A09F27db898640
NEXT_PUBLIC_ARC_SEPOLIA_ADDRESS=
NEXT_PUBLIC_USDC_SEPOLIA_ADDRESS=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238
NEXT_PUBLIC_WETH_SEPOLIA_ADDRESS=0xfff9976782d46cc05630d1f6ebab18b2324d6b14

NEXT_PUBLIC_ARC_SWAP_ROUTER_ADDRESS=
NEXT_PUBLIC_ARC_BRIDGE_CONTRACT_ADDRESS=
NEXT_PUBLIC_ARC_LP_MANAGER_ADDRESS=

NEXT_PUBLIC_ADMIN_WALLET=
